<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title> main</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <link rel="styleshhe" href="css/main.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
</head>

<body>  
    <script id=&quot;rendered-js&quot;>
        
       var app=angular.module("tabel", []);
        angular.module("tabel").controller("tabelCtrl", function ($scope) {      
            $scope.array = [];
            $scope.mobile="+91";
            $scope.onBtnAddClicked = function (){
                var insert = {};
                insert.name = $scope.name;
                insert.bakal_number = $scope.bakal_number;
                insert.mobile = $scope.mobile;
                insert.designation = $scope.designation;
                insert.gender = $scope.gender;
                insert.policestname = $scope.policestname;
                insert.namedistric = $scope.namedistric;

                $scope.array.push(insert);
                $scope.name = "";
                $scope.bakal_number = "";
                $scope.mobile ="";
                $scope.designation = "";
                $scope.gender = "";
                $scope.policestname = "";
                $scope.namedistric = "";
            }
            $scope.onBtnDeleteClicked = function ($index) {
                $scope.array.splice($index, 1)
            };
        })
   </script>

    <div ng-app="tabel">
        <div ng-controller="tabelCtrl">
            <div class="container">
                <div class="clearfix">
                    <div class="row">
                        <table class="table table-hover">
                            <tr>
                                <th> Sr_num </th>
                                <th> Name</th>
                                <th> Buckle Number</th>
                                <th> Mobile Number</th>
                                <th> Designation</th>
                                <th> Gender</th>
                                <th>Police Station</th>
                                <th>District</th>

                            </tr>
                            <tr ng-repeat="row in array">
                                <td> {{$index}}</td>
                                <td> {{ row.name }}</td>
                                <td> {{ row.bakal_number }}</td>
                                <td> {{ row.mobile }}</td>
                                <td> {{ row.designation }}</td>
                                <td>{{ row.gender }}</td>
                                <td>{{ row.policestname }}</td>
                                <td>{{ row.namedistric }}</td>
                                <td> <a class="btn btn-danger btn-xl fa fa-trash" ng-click="onBtnDeleteClicked($index)">
                                    </a></td>
                            </tr>
                            <form>
                                <tr>
                                    <td></td>
                                    <td>
                                        <input class="form-control" type="text" placeholder="Name" ng-model="name" required/>
                                    </td>   
                                    <td>
                                        <input class="form-control" type="text" placeholder="Bakal_Number" ng-model="bakal_number"min="1" max="5" required/>
                                    </td>
                                    <td>
                                        <input class="form-control" type="tel" placeholder="Mobile" ng-model="mobile" required />
                                    </td>
                                    <td>
                                        <input class="form-control" type="text" placeholder="Designation" ng-model="designation" required/>
                                    </td>
                                    <td>
                                        <input class="form-control" type="text" placeholder="Gender" ng-model="gender" required />
                                    </td>
                                    <td>
                                        <input class="form-control" type="text" placeholder="Police-ST-Name" ng-model="policestname" required/>
                                    </td>
                                    <td>
                                        <input class="form-control" type="text" placeholder="District" ng-model="namedistric" required/>
                                    </td>
                                    <td><input type="submit" class="btn btn-success fa fa-plus active" ng-click="onBtnAddClicked()" style="background-color: #4D47C3;;">
                                            </input>
                                    </td>
                                </tr>
                            </form>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>