@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background: #f9faff;
  color: #3a3c47;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}
h1{ 
  color:#15c;
  text-align: center
 }
.h1{
  margin-top: -15px;
}
form {
  background: #fff;
  max-width: 360px;
  width: 100%;
  height: 525px;
  padding: 50px 44px;   
  border: 1px solid #e1e2f0;
  border-radius: 4px;
  box-shadow: 0 0 5px 0 rgba(12, 92, 173, 0.842);
  transition: all 0.3s ease;
}
.responsive {    
    width: 70%;
    max-width: 400px;
    height:40%;
    margin-top: -70px;
    margin-left:45px;
}
.row1{
  margin-top:-25px;
}
.row{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.row label {
  font-size: 13px;
  color: #515c98;
}

.row input {
  flex: 1;
  padding: 13px;
  border: 1px solid #d6d8e6;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.2s ease-out;
}

.row input:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px 0 rgba(12, 92, 173, 0.207);
}

.row input::placeholder {
  color: #C8CDDF;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  background: #4D47C3;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  margin-top: 15px;
  transition: 0.2s ease-out;
}

button:hover {
  background:rgb(64, 106, 179);
}

@media(max-width: 458px) {
  
  body {
    margin: 0 18px;
  }
  
  form {
    background: #f9faff;
    border: none;
    box-shadow: none;
    padding: 20px 0;
    
  }
  .responsive{
    width: 40%;

  }
}
.signup_link{
  margin: 15px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a{
  color: #2691d9;
  text-decoration: none;
}
.signup_link a:hover{
  text-decoration: underline;
}
  a{
  text-decoration:none;
    color:white;
  }
  .ControlInput {
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(197, 193, 192, 0) inset;
    color: #6d6665;
    border: 1px solid #c5c1c0;
    margin-top: -31px;
    transition: box-shadow 300ms ease-out;
  }
  .ControlInput:hover {
    box-shadow: 0 1px 3px rgba(197, 193, 192, 40) inset;
  }
  .ControlInput:focus {
    outline: #2bbee7 auto 3px;
  }
  
  .ControlInput--password {
    order: 0;
    padding-right: 50px;
  }
  .Control-label--password {
    order: -1;
    margin-bottom: -32px;
  }
  .Control-label--showPassword {
    width: 32px;
    position: relative;
    top: 15px;
    right:30px;
    left: 100%;
    text-align: right;
    margin-left: -36px;
    cursor: pointer;
  }
  
  .ControlInput--email:valid ~ .ControlInput--password:valid ~ .Form-submit {
    cursor: pointer;
    pointer-events: auto;
    opacity: 1;
  }
  
  .show-password {
    display: none;
  }
  .show-password:checked ~ .ControlInput--password {
    -webkit-text-security: disc;
    -moz-text-security: disc;
  }
  .show-password:checked ~ .Control-label--showPassword .svg-toggle-password .closed-eye {
    opacity: 1;
    transition: opacity 300ms ease, height 400ms ease;
    width: 4px;
    height: 44px;
  }
  .svg-toggle-password {
    fill: rgba(0, 142, 214, 50);
  }
  .svg-toggle-password .closed-eye {
    opacity: 0;
    height: 0;
  }
  
  .spinner {
    animation: dash 2s linear infinite;
    animation-direction: normal;
  }
  @keyframes dash {
    0% {
      stroke-dashoffset: 0;
      stroke-dasharray: 150.6 100.4;
   }
    50% {
      stroke-dasharray: 1 250;
   }
    100% {
      stroke-dashoffset: 502;
      stroke-dasharray: 150.6 100.4;
   }
  }
  @keyframes spinner-in {
    0% {
      opacity: 0;
   }
    20%, 80% {
      opacity: 1;
   }
    100% {
      opacity: 0;
   }
  }